


.specials-title-link:active, .specials-title-link.active {
  background: #F4CE14;
  color: #495E57;
}


.specials-list {
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}

.specials-list {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  transition: background 0.3s, color 0.3s, border-radius 0.3s;
  padding: 0.5em 0.7em;
  border-radius: 8px;
}

.specials-info {
  margin-top: 5pt;
  width: 100%;
  padding: 5pt 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.specials-name {
  font-size: 1.5rem;
  font-family: 'Inika', serif;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.specials-price {
  font-size: 1.5rem;
  font-family: 'Inika', serif;
  font-weight: bold;
  color: #d32f2f;
  margin: 0;
}

.specials-item {
  padding: 0.5em 0.7em;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border-radius 0.3s;
  margin-top: 1rem;
  box-shadow: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.order-now-btn:hover {
  background: #FAE68A;
  color: #495E57;
}

.order-now-btn:active, .order-now-btn.active {
  background: #F4CE14;
  color: #495E57;
}

@media (max-width: 900px) {
  .specials-section {
    width: 100vw;
  }
  .specials-list {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100vw;
  }
  .specials-item {
    width: 80vw;
    max-width: 80vw;
  }
  .specials-image {
    height: 180px;
  }
}
